<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false">
  <root>
    <level value="ALL"/>
    <appender-ref ref="WARNFileAppender"/>
    <appender-ref ref="DEBUGFileAppender"/>
    <appender-ref ref="INFOFileAppender"/>
    <appender-ref ref="ErrorFileAppender"/>
    <appender-ref ref="FATALFileAppender"/>
  </root>
  <appender name="DEBUGFileAppender" type="log4net.Appender.RollingFileAppender" LEVEL="DEBUG">
    <!--生成文件在logs\Debug目录下以debug-2014.06.04.log按照日期存储-->
    <param name="File" value="logs\Debug\debug"/>
    <param name="AppendToFile" value="true"/>
    <param name="DatePattern" value="-yyyy.MM.dd.'log'"/>
    <param name="RollingStyle" value="Date"/>
    <param name="StaticLogFileName" value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="## %d [%t] %-5p %x %m %n"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <!--优先级 FATAL > ERROR > WARN > INFO > DEBUG-->
      <param name="LevelMin" value="DEBUG"/>
      <param name="LevelMax" value="DEBUG"/>
    </filter>
  </appender>
  <appender name="INFOFileAppender" type="log4net.Appender.RollingFileAppender" LEVEL="INFO">
    <!--生成文件在logs\Info目录下以info-2014.06.04.log按照日期存储-->
    <param name="File" value="logs\Info\info"/>
    <param name="AppendToFile" value="true"/>
    <param name="DatePattern" value="-yyyy.MM.dd.'log'"/>
    <param name="RollingStyle" value="Date"/>
    <param name="StaticLogFileName" value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="## %d [%t] %-5p %x %m %n"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="INFO"/>
      <param name="LevelMax" value="INFO"/>
    </filter>
  </appender>
  <appender name="WARNFileAppender" type="log4net.Appender.RollingFileAppender" LEVEL="WARN">
    <!--生成文件在logs\Debug目录下以debug-2014.06.04.log按照日期存储-->
    <param name="File" value="logs\WARN\warn"/>
    <param name="AppendToFile" value="true"/>
    <param name="DatePattern" value="-yyyy.MM.dd.'log'"/>
    <param name="RollingStyle" value="Date"/>
    <param name="StaticLogFileName" value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="## %d [%t] %-5p %x %m %n"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <!--优先级 FATAL > ERROR > WARN > INFO > DEBUG-->
      <param name="LevelMin" value="WARN"/>
      <param name="LevelMax" value="WARN"/>
    </filter>
  </appender>
  <!--记录log.Error的日志，生成文件在logs\Error目录下以error-2014.06.04.log按照日期存储-->
  <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender" LEVEL="ERROR">
    <!--生成文件在logs\Error目录下以error-2014.06.04.log按照日期存储-->
    <param name="File" value="logs\Error\error"/>
    <param name="AppendToFile" value="true"/>
    <param name="DatePattern" value="-yyyy.MM.dd.'log'"/>
    <param name="RollingStyle" value="Date"/>
    <param name="StaticLogFileName" value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="## %d [%t] %-5p %x %m %n"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="ERROR"/>
      <param name="LevelMax" value="ERROR"/>
    </filter>
  </appender>
  <appender name="FATALFileAppender" type="log4net.Appender.RollingFileAppender" LEVEL="FATAL">
    <!--生成文件在logs\Debug目录下以debug-2014.06.04.log按照日期存储-->
    <param name="File" value="logs\WARN\warn"/>
    <param name="AppendToFile" value="true"/>
    <param name="DatePattern" value="-yyyy.MM.dd.'log'"/>
    <param name="RollingStyle" value="Date"/>
    <param name="StaticLogFileName" value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="## %d [%t] %-5p %x %m %n"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <!--优先级 FATAL > ERROR > WARN > INFO > DEBUG-->
      <param name="LevelMin" value="FATAL"/>
      <param name="LevelMax" value="FATAL"/>
    </filter>
  </appender>
</log4net>